[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-sailelfcloud
Exec=harbour-sailelfcloud
Name=SailElfCloud
Name[fi]=SailElfCloud

